<div class="navbar">
  <a class="kültür" routerLink="kultur-sanat"><mat-icon aria-hidden="false" aria-label="Example home icon">color_lens</mat-icon>Kültür Sanat</a>
  <a class="egitim" routerLink="egitim"><mat-icon aria-hidden="false" aria-label="Example home icon">school</mat-icon>Eğitim</a>
  <a class="saglik" routerLink="saglik"><mat-icon aria-hidden="false" aria-label="Example home icon">local_pharmacy</mat-icon>Sağlık</a>
  <a class="ekonomi" routerLink="ekonomi"><mat-icon aria-hidden="false" aria-label="Example home icon">euro</mat-icon>Ekonomi</a>
  <a class="spor" routerLink="spor"><mat-icon aria-hidden="false" aria-label="Example home icon">sports_baseball</mat-icon>Spor</a>
  <a class="anasayfa" routerLink="anasayfa"> <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>Anasayfa</a>
</div>

<div class="banner">
 </div>



